{% extends 'base.html' %}

{% block content %}
<main>
    <a href="{% url 'todo_list_list' %}">Back to List</a>
    <a href="{% url 'todo_list_delete' todolist.id %}">Delete List</a>
    <a href="{% url 'todo_list_update' todolist.id %}">Update List</a>
    <h1>{{ todolist.name }}</h1>
    <h2>Tasks</h2>
    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Due Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in todolist.items.all %}
                <tr>
                    <td>
                        <a href="{% url 'todo_item_update' item.id %}">
                            {{ item.task }}
                        </a>
                    </td>
                    <td>{{ item.due_date|date:"M d, Y"}}</td>
                    <td>
                        {% if item.is_completed %}
                        Done 
                        {% else %}
                        You have some unfinished business.
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
