{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Home Page </title>
        <link rel="stylesheet" href="{% static "styles.css" %}">
    <head>
    <body>   
        <header>
            <nav class = "nav">
                <div class = "pages">
                    <a href="{% url "logout" %}">Logout</a>
                    <a href="{% url "home" %}">Home</a>
                    <a href="{% url "todo_list_list" %}">My TodoLists</a>
                    <a href="{% url "todo_item_create" %}">Create Task</a>
                    <h1>Task List</h1>
                </div>
            </nav>
        </header>
        <main>
            <H1> HOme Page </h1>
        </main>
    </body>
</html>